node_modules
.env
dist/
electron/dist-installer/builder-debug.yml
electron/dist-installer/builder-effective-config.yaml
electron/dist-installer/NutriLife Setup 0.0.0.exe
electron/dist-installer/NutriLife Setup 0.0.0.exe.blockmap
electron/dist-installer/.icon-ico/icon.ico
electron/dist-installer/win-unpacked/chrome_100_percent.pak
electron/dist-installer/win-unpacked/chrome_200_percent.pak
electron/dist-installer/win-unpacked/d3dcompiler_47.dll
electron/dist-installer/win-unpacked/dxcompiler.dll
electron/dist-installer/win-unpacked/dxil.dll
electron/dist-installer/win-unpacked/ffmpeg.dll
electron/dist-installer/win-unpacked/icudtl.dat
electron/dist-installer/win-unpacked/libEGL.dll
electron/dist-installer/win-unpacked/libGLESv2.dll
electron/dist-installer/win-unpacked/LICENSE.electron.txt
electron/dist-installer/win-unpacked/LICENSES.chromium.html
electron/dist-installer/win-unpacked/NutriLife.exe
electron/dist-installer/win-unpacked/resources.pak
electron/dist-installer/win-unpacked/snapshot_blob.bin
electron/dist-installer/win-unpacked/v8_context_snapshot.bin
electron/dist-installer/win-unpacked/vk_swiftshader_icd.json
electron/dist-installer/win-unpacked/vk_swiftshader.dll
electron/dist-installer/win-unpacked/vulkan-1.dll
electron/dist-installer/win-unpacked/locales/af.pak
electron/dist-installer/win-unpacked/locales/am.pak
electron/dist-installer/win-unpacked/locales/ar.pak
electron/dist-installer/win-unpacked/locales/bg.pak
electron/dist-installer/win-unpacked/locales/bn.pak
electron/dist-installer/win-unpacked/locales/ca.pak
electron/dist-installer/win-unpacked/locales/cs.pak
electron/dist-installer/win-unpacked/locales/da.pak
electron/dist-installer/win-unpacked/locales/de.pak
electron/dist-installer/win-unpacked/locales/el.pak
electron/dist-installer/win-unpacked/locales/en-GB.pak
electron/dist-installer/win-unpacked/locales/en-US.pak
electron/dist-installer/win-unpacked/locales/es-419.pak
electron/dist-installer/win-unpacked/locales/es.pak
electron/dist-installer/win-unpacked/locales/et.pak
electron/dist-installer/win-unpacked/locales/fa.pak
electron/dist-installer/win-unpacked/locales/fi.pak
electron/dist-installer/win-unpacked/locales/fil.pak
electron/dist-installer/win-unpacked/locales/fr.pak
electron/dist-installer/win-unpacked/locales/gu.pak
electron/dist-installer/win-unpacked/locales/he.pak
electron/dist-installer/win-unpacked/locales/hi.pak
electron/dist-installer/win-unpacked/locales/hr.pak
electron/dist-installer/win-unpacked/locales/hu.pak
electron/dist-installer/win-unpacked/locales/id.pak
electron/dist-installer/win-unpacked/locales/it.pak
electron/dist-installer/win-unpacked/locales/ja.pak
electron/dist-installer/win-unpacked/locales/kn.pak
electron/dist-installer/win-unpacked/locales/ko.pak
electron/dist-installer/win-unpacked/locales/lt.pak
electron/dist-installer/win-unpacked/locales/lv.pak
electron/dist-installer/win-unpacked/locales/ml.pak
electron/dist-installer/win-unpacked/locales/mr.pak
electron/dist-installer/win-unpacked/locales/ms.pak
electron/dist-installer/win-unpacked/locales/nb.pak
electron/dist-installer/win-unpacked/locales/nl.pak
electron/dist-installer/win-unpacked/locales/pl.pak
electron/dist-installer/win-unpacked/locales/pt-BR.pak
electron/dist-installer/win-unpacked/locales/pt-PT.pak
electron/dist-installer/win-unpacked/locales/ro.pak
electron/dist-installer/win-unpacked/locales/ru.pak
electron/dist-installer/win-unpacked/locales/sk.pak
electron/dist-installer/win-unpacked/locales/sl.pak
electron/dist-installer/win-unpacked/locales/sr.pak
electron/dist-installer/win-unpacked/locales/sv.pak
electron/dist-installer/win-unpacked/locales/sw.pak
electron/dist-installer/win-unpacked/locales/ta.pak
electron/dist-installer/win-unpacked/locales/te.pak
electron/dist-installer/win-unpacked/locales/th.pak
electron/dist-installer/win-unpacked/locales/tr.pak
electron/dist-installer/win-unpacked/locales/uk.pak
electron/dist-installer/win-unpacked/locales/ur.pak
electron/dist-installer/win-unpacked/locales/vi.pak
electron/dist-installer/win-unpacked/locales/zh-CN.pak
electron/dist-installer/win-unpacked/locales/zh-TW.pak
electron/dist-installer/win-unpacked/resources/app.asar
electron/dist-installer/win-unpacked/resources/elevate.exe
